* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #f4f4f4;
  color: #222;
}

header {
  background: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo img {
  width: 50px;
}

.logo span {
  color: #f5c16c;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.dropdown {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  background: #222;
  top: 30px;
  padding: 10px;
}

.dropdown:hover .submenu {
  display: block;
}

.submenu li {
  margin: 10px 0;
}

.hero {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(to right, #000, #333);
  color: white;
}

.catalogo {
  padding: 60px 30px;
}

.hombre {
  background: #eaeaea;
}

.mujer {
  background: #fff0f5;
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  z-index: 100;
}

.whatsapp img {
  width: 100%;
}
